<%= form_with(model: [comment.article, comment]) do |form| %>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.label :article_id, style: "display: block" %>
    <%= form.number_field :article_id %>
  </div>

  <div>
    <%= form.label :parent_id, style: "display: block" %>
    <%= form.number_field :parent_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
