<div id="<%= dom_id article %>" class="article">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= article.body %>
  </p>

  <% if article.url.present? %>
    <p>
      <strong>Url:</strong>
      <%= link_to "Link to url",article.url %>
    </p>
  <% end %>
  <p>
  <strong>Created at:</strong>
    <%= article.created_at.strftime("%A, %Y-%m-%d %H:%M")%>
  </p>

  <p>
  <strong>Votes_Up:</strong>
    <%= article.votes_up%>
  </p>

  <p>
  <strong>Votes_Down:</strong>
    <%= article.votes_down%>
  </p>

</div>
