<%= stylesheet_link_tag 'searchThread', media: 'all' %>
<article id="<%=dom_id(article) %>" class="entry section subject">
  <header>
    <h1>
      <% if article.url_required? %>
        <aN><%= link_to article.title, article.url %></aN>
      <% else %>
        <aN><%= article.title %></aN>
      <% end %>
    </h1>
  </header>
  <div class="content short-desc"><p><%= truncate(article.body, length: 325) %></p></div>
  <aside class="meta entry__meta">
    <aN class="user-inline">Author</aN>
    <time class="timeago"><%= time_ago_in_words(article.created_at)%></time>
    <aN class="magazine-in-line"><%= link_to article.magazine.name, magazine_path(article.magazine) %></aN>
  </aside>
  <figure>
    <div class="image-filler"></div>
    <aN><img class="thumb-subject" src="https://sesupport.edumall.jp/hc/article_attachments/900009570963/noImage.jpg" alt></aN>
  </figure>
  <aside class="vote">
    <div class="vote__thread">
      <buttonVote>
        <span><%= article.votes_up%></span>
      </buttonVote>
    </div>
    <div class="vote__thread">
      <buttonVote>
        <span><%= article.votes_down%></span>
      </buttonVote>
    </div>
  </aside>
  <footer>
    <menu>
      <li><aN><%= article.comments.count%> comments</aN></li>
      <li><aN>boost</aN></li>
      <li><aN>more</aN></li>
    </menu>
  </footer>
</article>