<!-- threads list, homepage -->

<div class="secHeader">
  <div class="webBody" id="filter">
    <nav>
      <a href="linkhere">top</a>
      <a href="linkhere">hot</a>
      <a href="linkhere" id="activeFilter">newest</a>
      <a href="linkhere">active</a>
      <a href="linkhere">commented</a>
    </nav>
    <div class="filterIcons">
      <a href="linkhere"><i class="fa-solid fa-border-all"></i></a>
      <a href="linkhere"><i class="fa-solid fa-clock"></i></i></a>
      <a href="linkhere"><i class="fa-solid fa-filter"></i></i></a>
    </div>
  </div>
</div>

<!-- no se si la notice se tiene que quedar aqui -->
<p style="color: green"><%= notice %></p>

<% @articles.each do |article| %>
  <div class="bodyContainer">
    <div class="webBody">
      <article>
        <div class="likes">
          <span>like up</span>
          <span>like down</span>
        </div>
        <img src="https://sesupport.edumall.jp/hc/article_attachments/900009570963/noImage.jpg">
        <div class="articlePreview">
          <!-- cambiar esto por otra flexbox cuando esten los stats -->
          <div>
            <a href=<%= article_path(article) %>><%= article.title %></a>
            <% if not article.url.nil? %>
              <a id="link" href=<%= article.url %>>(<%= article.url %>)</a>
            <% end %>
          </div>
          <br>
          <span><%= truncate(article.body, length: 250) %></span>
          <br>
          <span><strong>author</strong>, time ago to <strong>topic</strong></span>
          <span>img, comments, boost, more</span>
        </div>
      </article>
    </div>
  </div>
<% end %>


  <!-- quitar esto y ponerlo en el icono ese de + -->
  <%= link_to "New article", new_article_path %>
</div>