<div class="secHeader">
  <div class="webBody" id="filter">
    <nav>
      <%= link_to 'top', articles_path(type: params[:type],order_filter: 'top'), class: (@order_filter == 'top' ? 'activeFilter' : 'filter-link') %>
      <%= link_to 'newest', articles_path(type: params[:type],order: 'newest'), class: (@order_filter == 'newest' ? 'activeFilter' : 'filter-link')%>
      <%= link_to 'commented', articles_path(type: params[:type],order_filter: 'commented'), class: (@order_filter == 'commented' ? 'activeFilter' : 'filter-link') %>
    </nav>
    <div class="filterIcons">
      <a href="linkhere"><i class="fa-solid fa-border-all"></i></a>
      <a href="linkhere"><i class="fa-solid fa-clock"></i></i></a>
      <span class="dropdown">
        <i class="fa-solid fa-filter"></i>
        <div class="dropdown-content">
          <%= link_to "All", articles_path(type:'all', order_filter: params[:order_filter]) %>
          <%= link_to "Link", articles_path(type: 'link', order_filter: params[:order_filter]) %>
          <%= link_to "Thread", articles_path(type: 'thread', order_filter: params[:order_filter]) %>
        </div>
      </span>
    </div>
  </div>
</div>

<p style="color: green"><%= notice %></p>

<% @articles.each do |article| %>
  <%= render partial: "short_article", locals: {article: article} %>
<% end %>

  <%= link_to "New article", new_article_path %>
  <%= link_to "New link", new_link_articles_path %>
</div>