<%= stylesheet_link_tag 'searchThread', media: 'all' %>
<body>
<div id="middle" class = "page-search page-settings">
  <div class="kbin-containerL">
    <main id="main">
      <div class="section--top">
        <div class="container">
          <%= form_tag(search_articles_path, method: "get", class: "form") do %>
            <div class="flex">
              <%= text_field_tag :search_text, params[:search_text], placeholder: "Search articles...", class: "input" %>
              <%= button_tag type: "submit", class: "button btn__primary" do %>
                <!--<i class="fas fa-search"></i> <!-- Assuming you're using Font Awesome for icons -->
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="options options--top"></div>
      <div id="content">
        <% if @articles.any? %>
          <ul>
            <% @articles.each do |article| %>
              <article id="<%=article.id %>" class="entry section subject">
                <header>
                  <h2>
                    <aN><%= link_to article.title, article %> </aN>
                    <span class="entry__domain">domain?</span>
                  </h2>
                </header>
                <div class="content short-desc"><p><%= article.body %></p></div>
                <aside class="meta entry__meta">
                  <aN class="user-inline">Author</aN>
                  <time class="timeago"><%= article.created_at%></time>
                  <aN class="magazine-in-line"><%= link_to article.magazine.name, magazine_path(article.magazine) %></aN>
                </aside>
                <figure>
                  <div class="image-filler"></div>
                  <aN><img class="thumb-subject" src="https://sesupport.edumall.jp/hc/article_attachments/900009570963/noImage.jpg" alt></aN>
                </figure>
                <aside class="vote">
                  <div class="vote__thread">
                    <buttonVote>
                      <span><%= article.votes_up%></span>
                    </buttonVote>
                  </div>
                  <div class="vote__thread">
                    <buttonVote>
                      <span><%= article.votes_down%></span>
                    </buttonVote>
                  </div>
                </aside>
                <footer>
                  <menu>
                    <li><aN><%= article.comments.count%> comments</aN></li>
                    <li><aN>boost</aN></li>
                    <li><aN>more</aN></li>
                  </menu>
                </footer>
              </article>
            <% end %>
          </ul>
        <% else %>
          <div class="section">
          <div class="container"> <h1>No articles found</h1></div>
          </div>
        <% end %>
      </div>
    </main>
  </div>
</div>
</body>
