<%= stylesheet_link_tag 'searchThread', media: 'all' %>
<div id="middle" class = "page-search page-settings">
      <div class="section--top">
        <div class="container">
          <%= form_tag(search_articles_path, method: "get", class: "form") do %>
            <div class="flex">
              <%= text_field_tag :search_text, params[:search_text], placeholder: "Search articles...", class: "input" %>
              <%= button_tag type: "submit", class: "button btn__primary" do %>
                <i class="fa-solid fa-magnifying-glass"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="options options--top"></div>
      <div id="content">
        <% if @articles.any? %>
          <ul>
            <% @articles.each do |article| %>
              <%= render partial: 'short_article', locals: { article: article } %>

            <% end %>
          </ul>
        <% else %>
          <div class="section">
          <div class="container"> <h1>No articles found</h1></div>
          </div>
        <% end %>
      </div>

</div>
