<p style="color: green"><%= notice %></p>

<%= render @article %>

<div class="secHeader">
  <div class="webBody" id="filter">
    <nav>
      <a href="linkhere">top</a>
      <a href="linkhere" id="activeFilter">hot</a>
      <a href="linkhere">active</a>
      <a href="linkhere">newest</a>
      <a href="linkhere">oldest</a>
    </nav>
    <div class="filterIcons">
      <a href="linkhere"><i class="fa-solid fa-layer-group"></i></i></a>
    </div>
  </div>
</div>

<div class="bodyContainer">
  <div class="webBody">
    <div id="commentDiv">
      <%= form_with(model: [@article, @article.comments.build]) do |f| %>
        <%= f.text_area :body, class: "commentBox" %>
        <%= f.submit 'Add comment', class: "addCommentButton" %>
      <% end %>
    </div>
  </div>
</div>

<div class="bodyContainer" id="comments">
  <% @article.comments.order(created_at: :desc).each do |comment| %>
    <% unless comment.parent_id %>
      <%= render comment %>
    <% end %>
  <% end %>
</div>

<%= link_to "Edit this article", edit_article_path(@article) %> |
<%= link_to "Back to articles", articles_path %>
<%= button_to "Delete this article", @article, method: :delete %>