<div id="<%= dom_id magazine %>" class="magazine">

  <p><%= magazine.name %></p>

  <p>@<%= magazine.title %>@kbin.socials</p>

  <strong>ABOUT COMMUNITY:</strong>
  <p><%= magazine.description %></p>

  <strong>RULES:</strong>
  <p><%= magazine.rules %></p>

</div>
