<div id="<%= dom_id magazine %>" class="magazine">
  <p>
    <%= magazine.name %>
  </p>
  <p>
    <%= magazine.title %>
  </p>
  <p>
    <%= magazine.description %>
  </p>
  <p>
    <%= magazine.rules %>
  </p>


</div>
